extends layout

block vars
  - var title='Donate to un-support development'
  - var url='donate'

block content
  include mixins/recipes.jade
  +inner-header("Donate to support development")

  div.main-tutorial.inner-page.even
    div.container  
      div.row
        div.col-md-12.donate

          h4 Ether Donations
          h3 0x8eb6a5bc23f01f072b4042120facb5eecd9373cd

          h4 Ether Classic Donations
          h3 0xaecf86b7517fa7d4faef1f95a85c3829df25d2bc

          h4 Bitcoins Donations
          h3 1DELHihavjaeKRb5AZMvGLRHRauwLr5eUs

          h4 Chickens Donations
          h3 https://donate.worldvision.org/2-chickens

